body{
    background-color: orangered;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 400px;
    column-gap: 20px;
    justify-items: center;
}
.grid-item{
    display: grid;
    justify-items: center;
    border: 1px solid;
}
.btn{
    background-color: orangered;
    color: whitesmoke;
    border: solid 1px whitesmoke;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
@media (max-width: 576px){
    body{
    background-color: rgb(255, 45, 0);
}
    .btn{
    background-color: rgb(255, 45, 0);
    color: whitesmoke;
    border: solid 1px whitesmoke;
    width: 80px;
    height: 35px;
    cursor: pointer;
}
.parrafo{
    display: none;
}
}
/* @media (max-width: 576px){
    body{
    background-color: rgb(255, 45, 0);
}
    .btn{
    background-color: rgb(255, 45, 0);
    color: whitesmoke;
    border: solid 1px whitesmoke;
    width: 100px;
    height: 50px;
    cursor: pointer;
} */


@media (min-width: 768px){
    body{
    background-color: rgb(255, 35, 0);
}
    .btn{
    background-color: rgb(255, 35, 0);
    color: whitesmoke;
    border: solid 1px whitesmoke;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

}
@media (min-width: 992px){
    body{
    background-color: rgb(255, 15, 0);
}
    .btn{
    background-color: rgb(255, 15, 0);
    color: whitesmoke;
    border: solid 1px whitesmoke;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

}